.stared {
    border-radius: 20px;
    border-color: black;
    border: solid;
    margin-top: 20px;
border-color: brown;
    width: 250px;
}
.staredItem {
    padding: 30px;
}
.staredCont {
    text-align: center;
    align-items: center;
}
.contTravolta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
