.mainDiv{

    border-width: 30px;
    border-radius: 20px;

    padding: 30px;
    background-color: darkcyan;
}

.profil {
justify-content: space-around;

}
.div2 {

}
.header {
    font-size: 20px;
    color: black;
}
.title {
    font-size: 15px;
    color: white;
}
.reposDiv {
justify-content: space-around;
}
.inRepos {
    background-color: brown;
    padding: 30px;
    border-radius: 20px;
}


